body {
    display: flex;
    flex-direction: column;
    background-color: #011020;
    align-content: center;
    color: #ffffff;
    text-align: center;
    align-items: center;
    font-family: "Helvetica";
}

div {
    background-color: #c2bae2;
    width: fit-content;
    text-align: center;
    margin-left: 2ch;
    margin-right: 2ch;
    padding: 3px;
    padding-inline: 6px;
    border-radius: 0.5cm;
    border: 4px solid #021122;
    color: #000000;
}

body>div:last-of-type{
  width: fit-content;
  padding: 3px;
  padding-inline: 6px;
}

pre {
    display: inline-block;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    background-color: #141414;
    color: #ffffff;
}