body {
    background-color: #011933;
    color: #ffffff;
    text-align: center;
    font-family: "Helvetica"
}

div {
    background-color: #c2bae2;
    margin: 10%;
    margin-top: 0%;
    margin-bottom: 2mm;
    border-radius: 0.5cm;
    border: 4px solid #021122;
    color: #000000;
    text-align: center;
}

pre {
    display: inline-block;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    background-color: #141414;
    color: #ffffff;
}